* when using porec reads length>=1000,we found as new kind of interacting pattern.The peak at different chr are in /public/home/lizw/task/pore_c/porec_1000_filter_mainchr_result/porecplot/sub_peak_peri/sub_peak_interacting.csv
* Here we run porecplot when anchoring this site and see the reads found. 

1. why this alignment were not found without 1000 reads filtering
2. how is the align file, the mapping situation of this sub-peak
3. are this sites fake, causing by repetitve sequence?
4. are there FISH results supporting this phenomenon?
5. would the interacting pattern disapear when we use MAPQ>10 filteraction on porec data?

# the mapping situation of this sub-peak
select the reads at subpeak 1, and see the alignment file

In [ ]:
import pandas as pd
reads_info = pd.read_table('/public/home/lizw/task/pore_c/porec_1000_filter_mainchr_result/porecplot/DpnII_run04.order_3--sub_peak_binsize500000_ylimno_and_binnor_bar_anchor_filter_merge.csv',converters={'chr':str})

In [10]:
reads_info

,Unnamed: 0,chr,fragment_mid,region_start,region_end,region_index,read_name,align_idx,interval
0,478,1,11327329,0,30427671,0,1d41d895-9195-4349-8eea-84c90919928a,849.0,"(11000000, 11500000]"
1,480,1,11332554,0,30427671,0,1d41d895-9195-4349-8eea-84c90919928a,852.0,"(11000000, 11500000]"
2,804,1,27885153,0,30427671,0,0d125728-94d5-4f7b-81b1-cedac41e8cc1,1412.0,"(27500000, 28000000]"
3,805,1,11095984,0,30427671,0,0d125728-94d5-4f7b-81b1-cedac41e8cc1,1413.0,"(11000000, 11500000]"
4,806,1,20649001,0,30427671,0,0d125728-94d5-4f7b-81b1-cedac41e8cc1,1414.0,"(20500000, 21000000]"
...,...,...,...,...,...,...,...,...,...
259204,15597063,5,8071749,0,26975502,4,4b4abfce-d5c7-4deb-8031-72f3183f53de,188790.0,"(8000000, 8500000]"
259205,15597509,5,4867496,0,26975502,4,657277b6-8952-4fd2-8a2a-ef5a2aaf6483,189582.0,"(4500000, 5000000]"
259206,15597512,5,4731561,0,26975502,4,657277b6-8952-4fd2-8a2a-ef5a2aaf6483,189586.0,"(4500000, 5000000]"
259207,15597514,5,347062,0,26975502,4,657277b6-8952-4fd2-8a2a-ef5a2aaf6483,189591.0,"(0, 500000]"
259208,15602023,5,18443556,0,26975502,4,e92b2c6e-426e-43b8-8719-d720bdfd2171,197894.0,"(18000000, 18500000]"

In [19]:
from pathlib import Path,PurePath
import pyarrow
import pyarrow.parquet as pq
porec_dir = '/public/home/lizw/task/pore_c/porec_1000_filter_mainchr_result'
prefix = 'DpnII_run04'
align_dir = Path(PurePath(porec_dir,'align_table'))
align_dir_porec_generator = align_dir.glob(prefix+"*pore_c.parquet")
align_dir_porec_generator_df = pyarrow.concat_tables(list(map(pq.read_table,align_dir_porec_generator))).to_pandas()

In [24]:
align_dir_porec_generator_df[align_dir_porec_generator_df['read_name']=='1d41d895-9195-4349-8eea-84c90919928a'].loc[:,('read_idx', 'align_idx', 'align_type', 'chrom', 'start', 'end','strand', 'read_name', 'read_length', 'read_start', 'read_end','mapping_quality','filter_reason')]

,read_idx,align_idx,align_type,chrom,start,end,strand,read_name,read_length,read_start,read_end,mapping_quality,filter_reason
849,186,849,primary,1,11327032,11327846,False,1d41d895-9195-4349-8eea-84c90919928a,2733,14,829,51,pass
850,186,850,primary,5,23462418,23463026,False,1d41d895-9195-4349-8eea-84c90919928a,2733,1087,1740,240,pass
851,186,851,primary,5,20221566,20222050,True,1d41d895-9195-4349-8eea-84c90919928a,2733,27,504,47,not_on_shortest_path
852,186,852,primary,1,11332424,11332688,False,1d41d895-9195-4349-8eea-84c90919928a,2733,1736,1996,41,pass
853,186,853,primary,5,23484208,23484477,False,1d41d895-9195-4349-8eea-84c90919928a,2733,823,1091,41,pass
854,186,854,primary,5,20225658,20225902,False,1d41d895-9195-4349-8eea-84c90919928a,2733,1992,2235,40,pass

In [26]:
align_dir_porec_generator_df[align_dir_porec_generator_df['read_name']=='4b4abfce-d5c7-4deb-8031-72f3183f53de'].loc[:,('read_idx', 'align_idx', 'align_type', 'chrom', 'start', 'end','strand', 'read_name', 'read_length', 'read_start', 'read_end','mapping_quality','filter_reason')]

,read_idx,align_idx,align_type,chrom,start,end,strand,read_name,read_length,read_start,read_end,mapping_quality,filter_reason
27083566,42712,188790,primary,5,8071365,8072137,True,4b4abfce-d5c7-4deb-8031-72f3183f53de,2833,156,921,51,pass
27083567,42712,188791,primary,1,11117908,11118636,False,4b4abfce-d5c7-4deb-8031-72f3183f53de,2833,1215,1911,49,pass
27083568,42712,188792,primary,1,11499815,11500377,True,4b4abfce-d5c7-4deb-8031-72f3183f53de,2833,2264,2822,49,pass
27083569,42712,188793,primary,1,24017890,24018021,False,4b4abfce-d5c7-4deb-8031-72f3183f53de,2833,1088,1222,31,pass
27083570,42712,188794,primary,1,11271928,11272056,True,4b4abfce-d5c7-4deb-8031-72f3183f53de,2833,31,160,30,pass

# Sub peak interaction in framgent_mid solution
Anchor sub peak at chr1, filter with other sub peak interval, count the fragment to depict the interacing pattern in better resolution  
should go on based on the understanding of resolution: how many reads suuport for analysing？

In [154]:
#获取对sub peak贡献top20的比对对应的fragment的序列
import pandas as pd
reads_info = pd.read_table('/public/home/lizw/task/pore_c/porec_1000_filter_mainchr_result/porecplot/DpnII_run04.order_3--sub_peak_binsize500000_ylimno_and_binnor_bar_anchor_filter_merge.csv',converters={'chr':str})

reads_info

sub_peak = pd.read_table('/public/home/lizw/task/pore_c/porec_1000_filter_mainchr_result/porecplot/sub_peak_peri/sub_peak_interacting.csv',header=None,names=['interval','chr'],converters={'chr':str})

sub_peak_reads = pd.merge(reads_info,sub_peak,on=['chr','interval'],how='right')

sub_peak_reads.groupby(['chr','interval','fragment_mid']).count()

sub_peak_reads['count'] = sub_peak_reads.groupby(['chr','interval','fragment_mid'])['read_name'].transform('count')

sub_peak_reads.groupby(['chr','interval','fragment_mid'])['read_name'].pipe(lambda g:(g.count()/g.count().sum())).sort_values(ascending=False)

####要看看这些贡献最多的位置是不是重复序列看看比对上这些区域的reads比对是什么样子的

frag = pd.read_parquet('/public/home/lizw/task/pore_c/porec_1000_filter_mainchr_result/virtual_digest/DpnII_TAIR10.vd.fragments.parquet')

frag['fragment_mid'] = frag.eval('end+start+1')//2

sub_peak_reads_frag_count = pd.merge(sub_peak_reads,frag,how='left',left_on=['chr','fragment_mid'],right_on=['chrom','fragment_mid']) #add in frag genome location inf on the sub_peak reads 

top_20 = sub_peak_reads_frag_count.reindex(['chr','start','end','count','interval','fragment_mid','fragment_id'],axis=1).sort_values(by='count',ascending=False).drop_duplicates().head(20)

import pysam

def get_seq(row,fa_file):
    fasta_open = pysam.Fastafile(fa_file)
    sub_seq = fasta_open.fetch(row['chr'],row['start'],row['end'])
    fasta_open.close()
    return sub_seq

fa_path = '/public/home/lizw/data/IMPORTANT_genome/arabidopsis/tair10/tair10.simplify.fa'
top_20['seq'] = top_20.apply(get_seq,axis=1,fa_file = fa_path)

from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord

record = []
for j in top_20.itertuples():
    seq_id =str(j.fragment_id)
    seq = j.seq
    record.append(SeqRecord(Seq(seq),id=seq_id))

SeqIO.write(record,'/public/home/lizw/task/pore_c/porec_1000_filter_mainchr_result/porecplot/sub_peak_peri/top20.fa','fasta')

In [158]:
align_sub = align_dir_porec_generator_df.loc[:,('read_idx', 'align_idx', 'align_type', 'chrom', 'start', 'end','strand', 'read_name', 'read_length', 'read_start', 'read_end','mapping_quality','filter_reason','fragment_id')]

In [267]:
align_top20_merge = pd.merge(align_sub,top_20['fragment_id'],on='fragment_id',how='right') #这些位置对应的alignment

In [270]:
align_top20_merge_pass = align_top20_merge[align_top20_merge['filter_reason']=='pass']

In [275]:
align_top20_merge_pass

,read_idx,align_idx,align_type,chrom,start,end,strand,read_name,read_length,read_start,read_end,mapping_quality,filter_reason,fragment_id
0,4,27,primary,2,9711474,9711547,True,f48e4a9e-051e-4852-9314-e053c55d95d2,1995,966,1038,20,pass,144517
1,65,292,primary,2,9711474,9711547,False,a7f77e3c-4c6a-4556-b051-45f4a42d7811,3422,1848,1921,19,pass,144517
2,511,2406,primary,2,9711474,9711547,True,c9845442-4c79-479c-9470-85771d879039,1365,1277,1349,17,pass,144517
3,566,2671,primary,2,9711474,9711547,False,52bf0898-a68d-4356-aaf6-2905a32d1747,2440,2004,2076,19,pass,144517
4,770,3665,primary,2,9711474,9711537,False,d26d07cc-dbcb-4a25-9841-f295db3dc2ba,3977,1863,1927,12,pass,144517
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295924,38834,170102,primary,1,11435027,11436433,True,4dbb180e-103c-4012-9925-fd64ac722377,1768,356,1753,56,pass,42148
295926,27658,121962,primary,1,11435031,11436434,False,c9d88386-5304-46bc-854b-06fd99d3e2ef,4865,338,1731,55,pass,42148
295927,40199,176565,primary,1,11436351,11436412,False,30ffc930-d8b4-419e-8fa2-59fd9acb2f18,1262,29,88,15,pass,42148
295928,47364,208142,primary,1,11435030,11435800,True,7fb3f523-2ca0-459e-a38f-25f5a8046403,1300,534,1299,51,pass,42148
295929,28920,126367,primary,1,11435026,11436433,False,21b62645-f565-480b-859c-378aa1d37788,1858,446,1828,250,pass,42148

In [287]:
align_top20_merge_pass.groupby('mapping_quality').pipe(lambda df:df.count()/df.count().sum())['read_name'] #各不同mapping quality占比

mapping_quality
2      0.042001
3      0.049476
4      0.049100
5      0.044968
6      0.039203
         ...
246    0.000041
247    0.000064
248    0.000027
249    0.000054
250    0.000776
Name: read_name, Length: 248, dtype: float64

In [290]:
low_mq_target_frag = align_top20_merge_pass[align_top20_merge_pass['mapping_quality']<10]

In [294]:
low_mq_target_frag.rename({'chrom':'chr'},axis=1,inplace=True)

/public/home/lizw/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [295]:
low_mq_target_frag

,read_idx,align_idx,align_type,chr,start,end,strand,read_name,read_length,read_start,read_end,mapping_quality,filter_reason,fragment_id,count
5,784,3721,primary,2,9711477,9711529,True,5cdb01f1-d476-4687-a7d5-c7a3e6d49c64,1905,1841,1892,3,pass,144517,10908
8,1993,9318,primary,2,9711474,9711547,True,0941e94e-cddb-4b5d-9d74-b01dc31a54f3,1080,766,835,3,pass,144517,10908
11,3143,14756,primary,2,9711475,9711547,False,c53b6b54-c91b-4132-ae13-8dd15492e540,2979,1210,1282,6,pass,144517,8643
15,3243,15251,primary,2,9711474,9711543,True,eccc33c4-1ac8-4313-afdc-693deadec10a,3889,1426,1497,5,pass,144517,9914
18,3734,17476,primary,2,9711474,9711547,True,5bef8a46-b823-45ee-92b3-3ad1e3edfd61,3837,546,616,7,pass,144517,8004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295132,42371,187281,primary,2,8410152,8410208,False,5e61aa74-e99e-4b0d-af3f-fb5bebc4c27d,1103,16,72,5,pass,139767,9914
295133,43857,193969,primary,2,8410146,8410208,True,a4f94fa0-f121-463c-9dd4-13b752726571,1053,533,594,7,pass,139767,8004
295134,44013,194642,primary,2,8410149,8410204,True,8592a439-ab9e-4713-bb06-8eb6d37916ff,1858,780,834,5,pass,139767,9914
295306,37991,179687,primary,1,11121669,11121867,True,54888035-97e3-4ffa-8d72-a8792295319f,7916,6978,7157,8,pass,41125,7646
295904,41996,188698,primary,1,11435026,11435120,True,b9081d2a-f866-41a2-888c-960d4c70081e,2478,2386,2473,7,pass,42148,8004

In [296]:
low_mq_target_frag_20= low_mq_target_frag.sample(20)

In [298]:
low_mq_target_frag_20['fragment_id'].drop_duplicates()

93203     347053
292096    139767
52751     240986
38625     144518
149560    288891
229188    288887
22251     144517
169708     41143
Name: fragment_id, dtype: uint32

In [302]:
low_mq_target_frag_20['seq'] = low_mq_target_frag_20.apply(get_seq,axis=1,fa_file = fa_path)

In [308]:
low_mq_target_frag_20['fragment_id'].drop_duplicates()

93203     347053
292096    139767
52751     240986
38625     144518
149560    288891
229188    288887
22251     144517
169708     41143
Name: fragment_id, dtype: uint32

In [321]:
record_low = []
for j in low_mq_target_frag_20.itertuples():
    seq_id =str(j.align_idx)+'_'+str(j.fragment_id)
    seq = j.seq
    record_low.append(SeqRecord(Seq(seq),id=seq_id))

In [324]:
record_low

[SeqRecord(seq=Seq('AGTTCGGGATGGATTGGTGTTGTTCCTCTACGCCTAGGACACCAGAATATCGAA...GAA'), id='190572_347053', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('CCTGACTTTGTCCGTGTCAACAAACAATTCGAAATGCCTCGACTTTTTTAGAACAGGT'), id='138800_139767', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('GGCTTTCCTTTCGCACTATATACGGGTATGAAATGAAAATAATGGAAAAAGTTG...CCA'), id='92176_240986', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('TTTTCCCTGACTTTGTCCGTGTCAACAAACAATTCGAAATGCCTCGACTTTTTT...GGT'), id='127413_139767', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('TTTCCCTGACTTTGTCCGTGTCAACAAACAATTCGAAATGCCTCGACTTTTTTA...GGT'), id='215912_139767', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('TTTTCCCTGACTTTGTCCGTGTCAACAAACAATTCGAAATGCCTCGACTTTTTT...GGT'), id='113656_139767', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('ATCTTTCTTGGTATATCTAGATAATAGGTAGGAGTATAAATTGAAACATTTTGG...GTT'), id='14213_144518', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('CCGCTGCTCTAGCTAATTGTCCACCTTTTCCGAGTGTGATTTCTATTTTATGTA...ATC'), id='216984_288891', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('TTTTCCCTGACTTTGTCCGTGTCAACAAACAATTCGAAATGCCTCGACTTTTTT...GGT'), id='181916_139767', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('GATCTTTCTATTTCCAAAAGAACTGGAGTTACATCTCTTTTCCAATTACATTCA...TAC'), id='129489_288891', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('TTTTCCCTGACTTTGTCCGTGTCAACAAACAATTCGAAATGCCTCGACTTTTTT...GGT'), id='135793_139767', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('CCCATCAAGAAATAGAACTGACTAATCCTAAGTCAAAGAGTCAAGAAACTCAAG...AAA'), id='4044_288887', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('GAGAAACCATGAACCAGAATAGAAGAGCTTGCCCCACCCATGAGTAAATATTTC...ATC'), id='5186_144517', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('AGATCTTTCTATTTCCAAAAGAACTGGAGTTACATCTCTTTTCCAATTACATTC...ATA'), id='151260_288891', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('ATTGGTGTTGTTCCTCTACGCCTAGGACACCAGAATATCGAACCATGAA'), id='35819_347053', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('ATTCAATTGTCAACTACTCCTATCGGAAATAGGATTGACTACGGATTCGAGCCA'), id='84721_240986', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('AGTTCGGGATGGATTGGTGTTGTTCCTCTACGCCTAGGACACCAGAATATCGAA...GAA'), id='37343_347053', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('TTTTCCCTGACTTTGTCCGTGTCAACAAACAATTCGAAATGCCTCGACTTTTTT...GGT'), id='57814_139767', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('TGGGATTGACGTGAGGGGGTAGGGGTAGCTATATTTCTGGGAGCGAACTCCA'), id='13345_41143', name='<unknown name>', description='<unknown description>', dbxrefs=[]),
 SeqRecord(seq=Seq('TTTTCCCTGACTTTGTCCGTGTCAACAAACAATTCGAAATGCCTCGACTTTTTT...GGT'), id='3837_139767', name='<unknown name>', description='<unknown description>', dbxrefs=[])]

In [325]:
SeqIO.write(record_low,'/public/home/lizw/task/pore_c/porec_1000_filter_mainchr_result/porecplot/sub_peak_peri/low20.fa','fasta')

20

In [186]:
align_top20_merge[align_top20_merge['filter_reason']=='pass'].query('mapping_quality>=10')

,read_idx,align_idx,align_type,chrom_x,start,end,strand,read_name,read_length,read_start,read_end,mapping_quality,filter_reason,fragment_id,chrom_y,frag_start,frag_end,count,interval,fragment_mid
0,0,0,primary,1,24601411,24602399,False,b2723add-5a46-47d4-abb2-9ecc79131ead,7206,2663,3639,250,pass,88176,NaN,NaN,NaN,NaN,NaN,NaN
1,0,1,primary,1,21916206,21917039,True,b2723add-5a46-47d4-abb2-9ecc79131ead,7206,6376,7192,250,pass,78541,NaN,NaN,NaN,NaN,NaN,NaN
3,0,3,primary,1,24701642,24702206,False,b2723add-5a46-47d4-abb2-9ecc79131ead,7206,3865,4425,48,pass,88535,NaN,NaN,NaN,NaN,NaN,NaN
4,0,4,primary,1,24527870,24528391,True,b2723add-5a46-47d4-abb2-9ecc79131ead,7206,5551,6076,47,pass,87930,NaN,NaN,NaN,NaN,NaN,NaN
5,0,5,primary,1,23804223,23804700,True,b2723add-5a46-47d4-abb2-9ecc79131ead,7206,1973,2446,46,pass,85413,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27096347,45675,201571,primary,4,13374462,13374857,False,1c9ba817-fdc0-44a7-8336-272caa9a0477,1177,759,1147,43,pass,316318,NaN,NaN,NaN,NaN,NaN,NaN
27096348,45676,201572,primary,5,26578100,26579861,False,9551bc16-d2ef-4934-a7fe-799579589965,4286,1729,3465,57,pass,431452,NaN,NaN,NaN,NaN,NaN,NaN
27096349,45676,201573,primary,5,24815191,24816511,False,9551bc16-d2ef-4934-a7fe-799579589965,4286,233,1543,55,pass,424998,NaN,NaN,NaN,NaN,NaN,NaN
27096350,45676,201574,primary,2,9242329,9242856,False,9551bc16-d2ef-4934-a7fe-799579589965,4286,3749,4260,234,pass,142836,NaN,NaN,NaN,NaN,NaN,NaN
27096352,45676,201576,primary,3,4356230,4356349,True,9551bc16-d2ef-4934-a7fe-799579589965,4286,4165,4283,30,pass,196537,NaN,NaN,NaN,NaN,NaN,NaN

In [319]:
top_20.sort_values(by=['chr','interval'])

,chr,start,end,count,interval,fragment_mid,fragment_id,seq
42300,1,11131050,11131425,12530,"(11000000, 11500000]",11131238,41143,GATCTAGTCACTTGAGCGAGTTTGTTCTCTGTCTGAAATCATTTTC...
22294,1,11274825,11275642,99,"(11000000, 11500000]",11275234,41593,GATCCGTTCCTTTGTGACTAACTCTGCACTAAATCAAAAGAAGAGT...
49162,1,11269170,11270083,94,"(11000000, 11500000]",11269627,41575,GATCTCTGATTCTGTTGTGGCCAACGTGGGTTTGGAAAGACGAGGT...
23948,1,11281750,11282822,92,"(11000000, 11500000]",11282286,41620,GATCTAGTTAATTAAAAGTAAAATATTTACCCGGATTTTAAATGAG...
10736,1,11223092,11223768,90,"(11000000, 11500000]",11223430,41430,GATCAATTTTTAATATCGAAAAAGAACCGGTGAACAGAAATAAAAT...
19146,1,11435027,11436429,90,"(11000000, 11500000]",11435728,42148,GATCGACTAAAGAATGTAGCTTTCCGAGAACTGATGGTTGTGGAGA...
20017,1,11121097,11121900,89,"(11000000, 11500000]",11121499,41125,GATCAACGAGGGACATTGTTTCAAACCATTTGAATGGCCACACTTG...
66364,2,2938203,2938380,1839,"(2500000, 3000000]",2938292,119074,GATCAACATGAAAGCCCAACTACATTGCCAGAATTTATATATTGGA...
66431,2,2938659,2938958,1232,"(2500000, 3000000]",2938809,119079,GATCCAATTCGGAATTTTCCTTGAGGGATATTGGTAAGGAATTGGA...
69485,2,2938550,2938659,813,"(2500000, 3000000]",2938605,119078,GATCTCGGAGACCTGCCAAAGCACGAAAGCCAAAATCTTTCAGAAA...
70746,2,2938380,2938502,770,"(2500000, 3000000]",2938441,119075,GATCACTAACTAATCTAATAGAATAGAAAACCCTAATATAATAGAA...
73073,2,8410058,8410580,766,"(8000000, 8500000]",8410319,139767,GATCAATATAATGTAACCTACTAACTTATAACCTATGTATTTGTTG...
72382,2,9711187,9711543,770,"(9500000, 10000000]",9711365,144517,GATCTTGGATTTCTTCTACTTTGTACTTGTAACCAGTTTGCTCGGA...
71017,2,9711543,9711625,489,"(9500000, 10000000]",9711584,144518,GATCGTACATCTTTCTTGGTATATCTAGATAATAGGTAGGAGTATA...
74872,3,16356882,16357655,2197,"(16000000, 16500000]",16357269,240986,GATCTTAACAATTTTGACTAATCAAGTTGAATCAAACAAATTGGTT...
78573,4,5564550,5564857,3108,"(5500000, 6000000]",5564704,288887,GATCACAGCGAGGAAGCAAGTTAAAATAGAAAAACTCACATTTATT...
82280,4,5565243,5565630,1946,"(5500000, 6000000]",5565437,288891,GATCTTTCTATTTCCAAAAGAACTGGAGTTACATCTCTTTTCCAAT...
80686,4,5565085,5565243,1558,"(5500000, 6000000]",5565164,288890,GATCTAAATCAATCTGGTTTTACATGAAGAAGATTTGACTCCGCAT...
83173,5,15443432,15443672,355,"(15000000, 15500000]",15443552,391726,GATCTCCTATTCGTTCTGCTACCAGGAAGAGAAAGAAAGACTGATT...
84029,5,3110997,3112307,482,"(3000000, 3500000]",3111652,347053,GATCATTTCTTAGTAATAGTTCGGGATGGATTGGTGTTGTTCCTCT...

In [323]:
sub_peak

               interval chr
0  (11000000, 11500000]   1
1   (9500000, 10000000]   2
2    (2500000, 3000000]   2
3    (8000000, 8500000]   2
4  (16000000, 16500000]   3
5    (5500000, 6000000]   4
6  (15000000, 15500000]   5
7    (3000000, 3500000]   5